@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
 /*=============== Slider class along with my custom class ===============*/
  .card__content {
	margin-inline: 1.75rem;
	overflow: hidden;
  }
  
  .card__article {
	overflow-x: hidden;
	margin-top: 40px;
	border: 3px solid black;
	border-top-left-radius:8px;
	border-top-right-radius: 8px;
	height: 480px;
	overflow-y: auto;
  }
  html::-webkit-scrollbar {
    width: 6px;
}
  html::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

  
  .card__image {
	position: relative;
	margin-bottom: -.75rem;

  }
  .card__image>img {
	width:100%;

  }
  
  .card__data {
	padding: 1.5rem 2rem;
	position: relative;
	z-index: 10;
  }
  .tag{
	position: absolute;
	top:3px;
	right: 3px;
	font-weight: bold;
  }
  .tag>span {
	background-color: black;
	color: white;
	padding: 2px 5px;
	border-radius: 20%;
  }
  
 

  .card__img {
	margin: 0 auto;
	position: relative;
	z-index: 5;
  }
  
  .card__image>img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	object-position: top;
  }
  .card__shadow {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	position: absolute;
	top: 3.75rem;
	left: 0;
	right: 0;
	margin-inline: auto;
	filter: blur(45px);
  }
  
  .card__name {
	margin-bottom: .75rem;
	font-weight: bold;
	font-size: 24px;
  }
  
  .card__data>h6{
	font-weight: bold;
  }
  .card__data>ul{
	list-style-type:disc;
  }
  .card__description {
	font-weight: 500;
	margin-bottom: 1.75rem;
  }
  
  .card__button {
	margin-top: 0.5em;
	display: inline-block;
	padding: .2rem 0.5rem;
	border-radius: .25rem;
	font-weight: 600;
	border: 2px solid black;
  }
  
  /* Swiper class */
  .swiper-button-prev:after,
  .swiper-button-next:after {
	content: "";
  }
  
  .swiper-button-prev,
  .swiper-button-next {
	width: initial;
	height: initial;
	font-size: 3rem;
	color: var(--second-color);
	display: none;
  }

  
  .swiper-button-next {
	right: 14px;
  }
  
  .swiper-pagination-bullet {
	background-color: hsl(212, 32%, 40%);
	opacity: 1;
  }
  
  .swiper-pagination-bullet-active {
	background-color: black
  }
  
  /*=============== BREAKPOINTS ===============*/
  @media screen and (max-width: 320px) {
	
	.card__data {
	  padding: 1rem;
	}
  }
  
  @media screen and (min-width:320px) {
	.swiper-button-next{
		right: 0;
	  }
	  .swiper-button-prev, .swiper-rtl .swiper-button-next {
		left: 0px;
		right: auto;
	}
	.card__button{
		font-size: 0.9em;
	}
	
  }

  @media screen and (min-width: 768px) {
	.card__content {
	  margin-inline: 3rem;
	}
  
	.swiper-button-next,
	.swiper-button-prev {
	  display: block;
	}
  }

  
  @media screen and (min-width: 1120px) {
	.card__container {
	  max-width: 1120px;
	}
  

  }


 /*=============== Other style ===============*/
body {
	font-family: "Indie Flower", cursive;
}
main{
	width: 100%;
	height: full;
}

#navbar-dropdown>ul>li:hover{
	opacity: 0.8;
}
#dropdownNavbar>ul{
	position: relative;
	z-index: 100;
}
#navbar-toggle:hover {
	border: 2px solid black;
}

.ph>.txt{
	top: 0px;
    left: 140px;
    transform: rotateZ(6deg);
}
.ph>.arr{
	top: 12px;
    left: 148px;
    transform: rotateZ(-15deg);
}

.arrL {
	top: -6em;
    left: 7.4em;
}

.section-heading{
	top: -7em;
    left: 0.4em;
}

.box-container{
	height: auto;
	margin-top: 14rem;
	
}
.desc{
	padding: 3px;
	
}
.contact-me{
	padding: 1px 3px;
	width: 100%;

}


.form-group{
	margin-bottom: 0.8em;
}
footer{
	width: 100%;
}


.div-border{
	height: 4px;
	background-color: black;
	border-radius: 5px;
	left:-95px;
	width:calc(100% + 95px);
}

@media screen and (max-width: 768px) {
	
	#navbar-dropdown>ul{
		align-items: start;
	}
}